{% extends "base.html" %} 

{% block titulo %} Detalles de producto {% endblock %}

{% block contenido_principal %}
<h2>Detalles del producto</h2>

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">Nombre del producto</div>
        <div class="panel-body">{{producto.nombre}}</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Descripción</div>
        <div class="panel-body">{{producto.descripcion}}</div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">Precio</div>
        <div class="panel-body">{{producto.precio}}</div>
    </div>

    <div class="media-left media-middle">
        <img class="media-object" src="/portadas/{{ producto._id.toString() }}.png"
           />

    </div>
</div>
{% endblock %}