{% extends "base.html" %} {% block titulo %} Mis productos {% endblock %}

{% block contenido_principal %}
<h2>Mis productos en venta destacados</h2>

<div class="table-responsive">
    <table class="table table-hover" id="createdOffersHighlited">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th class="col-md-1">Precio</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
        {% if producto.destacada %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }} (€)</td>
            <td>
                {% if producto.comprador == null %}
                <a href="/producto/eliminar/{{ producto._id.toString() }}"
                   id="eliminarDestacada}">Eliminar</a> <br>
                {% endif %}

                {% if producto.comprador !=null %}
            <p>Vendida</p>
            {% endif %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<br>
<h2>Mis productos en venta no destacados</h2>
<div class="table-responsive">
    <table class="table table-hover" id="createdOffers">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th class="col-md-1">Precio</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for producto in productos %}
        {% if not producto.destacada %}
        <tr>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.descripcion }}</td>
            <td>{{ producto.precio }} (€)</td>

            {% if producto.comprador == null %}
            <a href="/producto/eliminar/{{ producto._id.toString() }}"
               id="eliminarNormal}">Eliminar</a> <br>
            {% endif %}

            {% if producto.comprador !=null %}
            <p>Vendida</p>
            {% endif %}
            <td>
                <a href="/producto/destacar/{{ producto._id.toString() }}"
                   id="destacar/{{producto.nombre}}">Destacar</a> <br>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}
