.mensaje_propio_no_leido{
    text-align: right;
    color: #2ecc71;
}

.mensaje_propio_leido{
    text-align: right;
    color: #27ae60;
}

.mensaje_otro{
    color: black;
}

h4{
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px;
}